* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #333;
}

.container-range,
.container-btn,
.container-couleurs,
.gradient {
    height: auto;
    width: 30%;
    max-width: 400px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-couleurs {
    flex-direction: column;
}

.resultat__gradient {
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.inp-range {
    box-shadow: none;
}

input{
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    font-size: 25px;
    outline: none;
    border: none;
    /* border: 1px solid #f1f1f1; */
    margin: 5px 0;
    box-shadow: 0 1px 6px 0 rgb(0, 0, 0);
    font-weight: bolder;
}

.container-btn {
    align-items: center;
}

button {
    box-shadow: 0 1px 3px 0 rgb(0, 0, 0);
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button.plus, 
button.moins {
    font-size: 50px;
    font-weight: 300;
}

.random {
    font-size: 25px;
    width: 200px;
    height: 60px;
}

span {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

